.claude/
digital-skills/2nd-semester/Садана_Лабораторная 3.pdf
digital-skills/2nd-semester/Садана_Лабораторная 3.pptx
digital-skills/2nd-semester/Садана_Лабораторная 4.xlsx
digital-skills/2nd-semester/Садана_Лабораторная 14.xlsx
digital-skills/2nd-semester/Садана_Лабораторная 15.xlsx
digital-skills/2nd-semester/Садана_Лабораторная 16.xlsx
digital-skills/2nd-semester/Упражнение 14.xlsx
digital-skills/2nd-semester/Упражнение 15.xlsx
digital-skills/2nd-semester/Упражнение 16.xlsx
